.headerContainer {
  min-width: 55%;
  margin-left: 5%;

  display: flex;
  flex-direction: column;
  width: 50%;
}

.headerContainer h1 {
  margin: 2rem 0;
}

.headerContainer div {
  width: 100%;
  display: flex;

  justify-content: space-between;
}

.headerContainer div section{
  display: flex;
}

.headerContainer div section p {
  font-size: 14px;
  line-height: 1.05rem;
  color: rgba(102, 102, 102, 0.6);
  text-transform: uppercase;
  font-weight: bold;
}

.headerContainer div section:last-child{
  margin-right: 4.75rem;
}

.headerContainer div section:first-child p:last-child{
  margin-left: 2.1rem;
}

.headerContainer div section:last-child p:last-child{
  margin-left: 7.375rem;
}